body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.da-quote {
  font-size: 2rem;
}

.da-catch-phrase {
  font-size: 4rem;
  color: #ee6e73;
}

@media (min-width: 600px) {
  .da-quote {
    font-size: 3rem;
  }

  .da-catch-phrase {
    font-size: 6rem;
  }
}

@media (min-width: 800px) {
  .da-quote {
    font-size: 4rem;
  }

  .da-catch-phrase {
    font-size: 8rem;
  }
}

footer.page-footer {
  padding-top: 0;
}
